<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />


    {% stylesheets
        '@IIMBlogBundle/Resources/public/css/*'
         filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {%javascripts
        '@IIMBlogBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>